{:dependencies [[reagent/reagent "0.8.1"]]

 :source-paths ["src"]

 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:main {:entries [jstocljs.core]}}}}}